<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/layout" >
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div>
            <h1>회원가입</h1>
        </div>
        <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="form-group">
                <label th:for="username" class="form-label">사용자ID</label>
                <input type="text" th:field="*{username}" class="form-control" >
            </div>
            <div class="form-group">
                <label th:for="password1" class="form-label">비밀번호</label>
                <input type="text" th:field="*{password1}" class="form-control" >
            </div>
            <div class="form-group">
                <label th:for="password2" class="form-label" >비밀번호확인</label>
                <!--<p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>-->
                <input type="text" th:field="*{password2}" class="form-control">
            </div>
            <div class="form-group">
                <label th:for="email" class="form-label">이메일</label>
                <input type="text" th:field="*{email}" class="form-control" >
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>